@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #212121;
  color: white;
  font-size: 38px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}

.nav-bar {
  display: flex;
  .button {
    background-color: rgba(#989898, 0.5);
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px;

    span {
      color: #272727;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
    }
    &:hover {
      background-color: #df4a32;
      span {
        font-weight: bold;
        color: white;
      }
    }
  }
}