.search-video-container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5vh 20vw 10vh 20vw;

  input[type="text"] {
    width: 80%;
    padding: 20px;
    background: #272727;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
    font-family: 'Lato', sans-serif;
    height: 70px;
  }
  button {
    padding: 20px;
    width: 20%;
    min-width: 60px;
    float: left;
    background: #df4a32;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 70px;
  }
  .videos-container {
    width: 100%;
  }
}